@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import '_product.scss';
@import '_markdown.scss';

$primaryColor: #0f75bc;

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-width: 768px;
}

header {
  height: 64px;
  border-bottom: 1px solid #ccc;
}


section {
  margin-bottom: 48px;
}

footer {
  min-height: 240px;
  background: #333;
  color: #fff;

  .copyright {
    font-size: 14px;
    color: #aaa;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:visited {
    color: #fff;
  }

  a:hover {
    text-decoration: underline;

  }
}

nav {
  &>a {
    text-decoration: none;
    margin: 0 2rem;
    font-weight: bold;
    color: $primaryColor;

    &:visited {
      color: $primaryColor;
    }
  }


}

.hero-section {
  height: 480px;

  .container-fluid {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

.columns-section {
  .column {

    .column-icon-row {
      height: 80px;
    }

    .column-icon {
      max-width: 80px;
      max-height: 80px;
    }

  }

}


.page-header {
  height: 48px;
  margin-top: 12px;
}